body {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #27d80f;
    color: #fff;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.top-bar a:not(:last-child) {
    margin-right: 10px;
}

.top-bar a:hover {
    background-color: #25c60f;
    color: #fff;
}

.add-post-container {
    align-items: center;
    text-align: left;
    padding: 20px;
    margin: 80px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.add-post-container label {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
}

.add-post-container input[type="text"]{
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
    box-sizing: border-box;
}
.add-post-container textarea {
    flex: 1;
    width: 500px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
    box-sizing: border-box;
}


.add-post-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.add-post-tags-container label {
    margin: 0 0 0 0;
}

.add-post-tags-container input[type="text"] {
    flex: 2;
}

.add-post-tag {
    background-color: #d3d3d3;
    color: #000;
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-post-tag:hover {
    background-color: #000;
    color: #fff;
}

.remove-tag {
    margin-left: 4px;
    display: none;
}

.add-post-tag:hover .remove-tag {
    display: inline;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-submit, .btn-cancel {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin-right: 10px;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-cancel {
    background-color: #ccc;
}

.btn-cancel:hover {
    background-color: #b0b0b0;
}
