@()

@main("addPost") {
    <div class="header">
            <div class="top-bar">
                <a href="logout">Log Out</a> |
                <a href="userHome">Home</a>
            </div>
            <h1>Post your Question</h1>
        <div class="add-post-container">
            <form method="get" action="addPost" id="postForm">
                    <label for="title">Title of the Post</label>
                    <input type="text" placeholder="Enter Title" name="text" required>
                     <div id="tagsContainer" class="add-post-tags-container">
                        <label for="tags">Tags</label>
                        <input type="text" placeholder="Enter Tags" name="tags" id="tagsInput" required>
                    </div>

                    <label for="textPart">Text-part of the Post</label>
                    <textarea placeholder="Enter the details about the post" name="textPart" required></textarea>
                    <br>
                    <label for="codePart">Code-part of the Post</label>
                    <textarea placeholder="Enter the code snippet" name="codePart" required></textarea>

                    <div class="form-actions">
                    <button type="submit" class="btn-submit" id="submitBtn">Submit</button>
                    <button type="button" class="btn-cancel" id="cancelBtn">Cancel</button>
                    </div>
            </form>
        </div>
    </div>
}
