@()(implicit session: play.api.mvc.Session)
@main("Profile") {
    <!-- main-area -->
    <main>
        <section class="online-booking pt-115 pb-120">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-xl-12 col-lg-12">
                        <div class="inner-booking-wrap">
                            <div class="booking-title mb-35">
                                <h4>Personal Information</h4>
                            </div>
                            <form action="#" class="inner-booking-form">
                                <div class="info-box p-relative mb-20">
                                    <i class="far fa-user-alt"></i>
                                    <input type="text" placeholder="Full Name *" value="">
                                </div>
                                <div class="info-box p-relative mb-20">
                                    <i class="fal fa-envelope-open"></i>
                                    <input type="email" placeholder="Your Email *">
                                </div>
                                <div class="info-box p-relative mb-20">
                                    <i class="far fa-phone"></i>
                                    <input type="text" placeholder="Your Phone *">
                                </div>
                                <div class="info-box p-relative mb-20">
                                    <i class="far fa-pencil"></i>
                                    <input type="text" placeholder="Post Code *">
                                </div>
                                <div class="info-box p-relative mb-20">
                                    <i class="fal fa-location"></i>
                                    <input type="text" placeholder="Address *">
                                </div>
                                <div class="info-box p-relative mb-20">
                                    <i class="fal fa-flag"></i>
                                    <input type="text" placeholder="City *">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
        <!-- main-area-end -->
}